jericho-ejb/src/main/xsd/property-by-erf-request.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Thu Jul 23 2015 15:16:25 GMT+0200 (South Africa Standard Time) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="property-by-erf-request">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="erf-number" type="xs:int"></xs:element>
						   <xs:element name="action-value" type="xs:string"></xs:element>
                     </xs:sequence>
               </xs:complexType>
         </xs:element>
   </xs:schema>